<aside class="sidebar">
  <ul class="sidebar_nav">
    <li><a routerLink="" class="active"> Home</a></li>
    <li><a routerLink="Accordian"> Accordion</a></li>
    <li><a routerLink="Breadcrum"> Breadcrumb</a></li>
    <li><a routerLink="chcekbox"> Checkbox</a></li>
    <li><a routerLink="datepicker"> Date Picker</a></li>
    <li><a routerLink="dropdown"> Dropdown</a></li>
    <li><a routerLink="FileInput"> File Input</a></li>
    <li><a routerLink="modal"> Modal</a></li>
    <li><a routerLink="Popover"> Popover</a></li>
    <li><a routerLink="Progress"> Progress Bar</a></li>
    <li><a routerLink="ProgressTracker"> Progress Tracker</a></li>
    <li><a routerLink="RadioButton"> Radio Button</a></li>
    <li><a routerLink="SelectInput"> Select</a></li>
    <li><a routerLink="SideNavigation"> Side Navigation</a></li>
    <li><a routerLink="table"> Table</a></li>
    <li><a routerLink="Tabs"> Tabs</a></li>
    <li><a routerLink="textarea"> Text Area</a></li>
    <li><a routerLink="InputText"> Text Input</a></li>
    <li><a routerLink="Tooltip"> Tooltip</a></li>
  </ul>
</aside>
